body{

}
.head{
height:90px;
width:auto;
border-style:solid;
border-width:1px;
border-color:black;

}
.login{
height:290px;
width:500px;
border-style:solid;
border-width:1px;
border-color:black;
margin:40px 450px 110px 350px;
}
.loginform{
height:160px;
width:450px;
border-style:solid;
border-width:4px;
border-color:black;
}
.buttonl{
	height:40px;
width:90px;

margin-top:-60px;
}


.foot{
height:90px;
width:auto;
border-style:solid;
border-width:1px;
border-color:black;

}